@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  transition: all 0.2s linear;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  visibility: hidden;
  display: none;
}

body::-webkit-scrollbar-track {
  visibility: hidden;
  display: none;
}

body::-webkit-scrollbar-thumb {
  visibility: hidden;
  display: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --primary-color: #e96320;
  --light-color: #e4e4e4;
  --ligth-text-color: #e4e4e4;
  --dark-text-color: #141414;
  --dark-color: #161616;
  --dark-color-500: #e4e4e4;
  --text-shadow: 0px 1px 5px rgba(3, 1, 1, 0.2);
}

.dark-mode-theme:root {
  --primary-color: #ed7d45;
  --light-color: #1f1f1f;
  --ligth-text-color: #dddddd;
  --dark-text-color: #d6d6d6;
  --dark-color: #d6d6d6;
  --dark-color-500: #2b2b2b;
  --text-shadow: 0px 1px 5px rgba(3, 1, 1, 0.2);
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background: var(--light-color);

  .whatsapp {
    position: fixed;
    z-index: 99;
    right: 2rem;
    bottom: 2rem;

    animation: iconWhatsapp 1.5s infinite ease-out;

    @keyframes iconWhatsapp {
      0% {
        transform: translateY(-15px);
      }

      50% {
        transform: translateY(-7.5px);
      }

      100% {
        transform: translateY(-15px);
      }
    }

    i {
      font-size: 4rem;
      color: #26d366;
    }
  }

  .alert-form-message {
    padding: 1.5rem;
    background: #dab319;
    position: fixed;
    z-index: 999;
    right: 2rem;
    top: 10rem;
    animation: alerMessage 5s ease-in;
    border-radius: 5px;
    opacity: 0;

    span {
      color: var(--ligth-text-color);
      font-size: 1.5rem;
      font-weight: 500;
    }

    @keyframes alerMessage {
      0% {
        opacity: 1;
        display: none;
      }

      100% {
        opacity: 0;
        display: none;
        visibility: hidden;
      }
    }
  }
}

.main-button {
  display: block;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1.5rem 3rem;
  color: var(--ligth-text-color);
  text-align: center;
  background: var(--primary-color);
  border-radius: 2px;
  border: 0;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  text-transform: capitalize;
  cursor: pointer;

  &:hover {
    filter: brightness(0.85);
  }
}

header {
  width: 100%;
  padding: 2rem 10%;
  position: fixed;
  z-index: 99999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;

  background: var(--light-color);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  //border-bottom: 2px solid var(--secondary-color);

  .progress-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--ligth-color);

    .progress-bar {
      height: 4px;
      background: var(--primary-color);
      width: 0%;
    }
  }

  #menu-btn {
    font-size: 3rem;
    color: var(--primary-color);
    cursor: pointer;
    display: none;
    visibility: hidden;
  }

  .logo {
    text-align: center;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--primary-color);
    font-size: 1.8rem;
    text-shadow: var(--text-shadow);

    span {
      font-weight: 800;
      font-size: 2.5rem;
      letter-spacing: -2px;
      color: var(--dark-color);
    }
  }

  .navigation-bar .navigation-list {
    display: flex;

    li {
      margin-right: 2rem;

      a {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--dark-text-color);
        text-shadow: var(--text-shadow);

        &:hover {
          color: var(--primary-color);
        }

        &:active {
          color: var(--primary-color);
        }
      }

      .button-dark-mode {
        border: none;
        cursor: pointer;
        background: transparent;

        i {
          font-size: 2rem;
          color: var(--primary-color);
        }
      }
    }
  }
}

.home {
  width: 100%;
  min-height: 110vh;
  height: auto;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 10%;

  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    object-fit: cover;
    z-index: -22;
  }

  .home-text {
    width: 60.5rem;
    height: auto;
    margin-top: 4rem;

    span {
      font-family: "Roboto", sans-serif;
      font-size: 2.5rem;
      font-weight: 600;
      text-shadow: var(--text-shadow);
      text-transform: uppercase;
      color: var(--primary-color);
      //visibility: hidden;
    }

    .home-title {
      font-size: 7rem;
      font-weight: 700;
      line-height: 7rem;
      color: var(--ligth-text-color);
      margin-top: 1.5rem;
      text-transform: capitalize;
      text-shadow: var(--text-shadow);
      visibility: hidden;
      opacity: 1;
    }

    p {
      font-family: "Roboto", sans-serif;

      margin-top: 3rem;
      font-size: 1.8rem;
      color: var(--primary-color);
      font-weight: 400;
      text-shadow: var(--text-shadow);
    }
  }

  .budget-fast {
    width: 50rem;
    height: auto;
    color: var(--ligth-text-color);
    border-radius: 5px;
    padding: 2rem 2rem;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0px);
    border: 1px solid var(--primary-color);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    visibility: hidden;

    form {
      display: flex;
      flex-direction: column;
    }

    p {
      font-size: 2.1rem;
      font-weight: 500;
    }

    label {
      font-size: 1.6rem;
      font-weight: 500;
      margin-top: 1rem;
    }

    select {
      font-size: 1.6rem;
      font-weight: 500;
      margin-top: 1rem;
      padding: 1rem;
      color: var(--ligth-text-color);
      background: #313131;
      border-radius: 2px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(2px);
      -webkit-backdrop-filter: blur(2px);
      border: 1px solid rgba(205, 205, 205, 1);

      outline: none;

      option {
        color: var(--ligth-text-color);
        font-weight: 500;
        font-size: 1.4rem;
        background: #313131;
      }
    }
  }
}

input {
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 1rem;
  padding: 1rem;
  color: var(--ligth-text-color);

  background: #313131;
  border-radius: 2px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(205, 205, 205, 1);

  outline: none;
}

.data-services {
  margin: 0 auto;
  width: 100%;
  padding: 2rem 10%;
  height: 20rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-color);

  div {
    width: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    i {
      font-size: 4.5rem;
      color: var(--primary-color);
    }

    p {
      font-size: 3rem;
      font-weight: 800;
      color: var(--dark-text-color);
    }

    div {
      p {
        font-size: 2rem;
        font-weight: 700;
        color: var(--primary-color);
      }
    }
  }
}

.contact {
  width: 100%;
  height: auto;
  padding: 2rem 10%;
  display: flex;
  justify-content: space-around;
  background: url("../assets/black-concrete-texture.jpg");
  background-size: cover;

  .title {
    h3 {
      font-size: 4.8rem;
      font-weight: 700;
      color: var(--ligth-text-color);
      text-shadow: var(--text-shadow);
    }

    p,
    address {
      font-size: 1.6rem;
      color: var(--ligth-text-color);
      font-weight: 400;
      font-style: normal;

      span {
        font-size: 1.6rem;
        color: var(--primary-color);
        font-weight: 400;
      }
    }

    a {
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      gap: 5px;
      color: var(--ligth-text-color);

      &:hover {
        color: var(--ligth-text-color);
      }

      span {
        font-size: 1.6rem;
        color: var(--primary-color);
        font-weight: 400;
      }
    }

    .location {
      width: 60rem;
      height: 45rem;
      margin-top: 2rem;
      overflow: hidden;

      iframe {
        width: 100%;
        height: 100%;
        border-radius: 5px;
      }
    }
  }

  form {
    margin-top: 2rem;
    color: var(--ligth-text-color);
    border-radius: 5px;
    padding: 2rem;

    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0px);
    border: 1px solid var(--primary-color);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);

    width: 50rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    label {
      font-size: 1.6rem;
      font-weight: 500;
      margin-top: 1rem;
    }

    input {
      font-size: 1.6rem;
      font-weight: 500;
      margin-top: 1rem;
      padding: 1rem;
      color: var(--ligth-text-color);

      background: #313131;
      border-radius: 2px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(2px);
      -webkit-backdrop-filter: blur(2px);
      border: 1px solid rgba(205, 205, 205, 1);

      outline: none;
    }

    textarea {
      resize: none;
      font-size: 1.6rem;
      font-weight: 500;
      margin-top: 1rem;
      padding: 1rem;
      color: var(--ligth-text-color);

      background: #313131;
      border-radius: 2px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(2px);
      -webkit-backdrop-filter: blur(2px);
      border: 1px solid rgba(205, 205, 205, 1);

      outline: none;
    }
  }
}
footer {
  width: 100%;
  height: 30vh;
  padding: 2rem 10%;
  display: flex;
  flex-direction: column;
  background: var(--dark-color);
  color: var(--ligth-text-color);
  position: relative;
  background: var(--dark-text-color);
  background: linear-gradient(to bottom, #141414, #161616);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .company {
      display: flex;
      flex-direction: column;
      text-align: left;
      p {
        font-size: 2rem;
        font-weight: 500;
        color: var(--primary-color);
      }
      a {
        color: var(--ligth-text-color);
        font-size: 1.6rem;
        text-transform: capitalize;
        font-weight: 500;

        &:hover {
          color: var(--primary-color);
        }
      }
    }
  }

  .footer-contact {
    text-align: center;

    p {
      font-size: 1.6rem;
      color: var(--primary-color);
      font-weight: 500;

      margin-bottom: 0rem;
    }

    a {
      color: var(--ligth-text-color);
      font-size: 1.6rem;
      font-weight: 500;

      span {
        font-size: inherit;
      }
    }
  }

  .address {
    font-style: normal;

    p.address-title {
      font-size: 2rem;
      font-weight: 500;
      color: var(--primary-color);
    }

    p {
      font-size: 1.6rem;
    }
  }

  p.copy {
    font-size: 1.4rem;
    text-transform: capitalize;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

.about {
  width: 100vw;
  height: 60vh;
  padding: 2rem 10%;
  background: url("../assets/black-concrete-texture.jpg");
  background-size: cover;

  .busines-about {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
      width: 60%;
      height: auto;
      margin-right: 10rem;

      h2 {
        font-size: 4.8rem;
        font-weight: 700;
        color: var(--ligth-text-color);
        text-shadow: var(--text-shadow);
      }

      p {
        font-size: 1.6rem;
        color: var(--ligth-text-color);
        font-weight: 400;

        span {
          text-transform: uppercase;
          font-size: 1.6rem;
          font-weight: 600;
          color: var(--primary-color);
        }
      }
    }

    .about-image {
      width: 55rem;
      border-radius: 50%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        clip-path: circle();
      }
    }
  }
}

// --- RESPONSIVO ---
@media (min-width: 320px) {
  header {
    padding: 2rem 5%;

    .logo {
      font-size: 1.6rem;

      span {
        font-size: 2rem;
      }
    }

    .navigation-list {
      li {
        margin-left: 5%;
      }
    }
  }

  .home {
    flex-direction: column;

    .home-text {
      width: 100%;
      text-align: center;
      margin-top: 15rem;

      span {
        font-size: 2rem;
        text-align: start;
      }

      .home-title {
        font-size: 5rem;
        line-height: 5rem;
        margin-top: 1rem;
      }

      p {
        margin-top: 2rem;
        font-weight: 400;
        text-align: start;
      }
    }

    .budget-fast {
      width: 100%;
      margin-top: 3rem;
    }
  }

  .services {
    .services-container {
      p {
        font-size: 2rem;
      }

      h2 {
        font-size: 3rem;
        margin-top: 1rem;
      }
    }

    .cards-wraper {
      height: auto;
      padding: 4rem 5%;
      margin: 0 0 4rem 0;

      .card {
        width: 100%;
        min-height: 60rem;
        height: auto;
        margin: 1rem 0 1rem;

        &:hover {
          scale: 1.1;
          z-index: 99;
        }
      }
    }
  }

  .about {
    height: auto;
    padding: 2rem 5%;

    .busines-about {
      flex-direction: column;
      height: auto;

      .text {
        width: 100%;
        margin-right: 0;

        h2 {
          font-size: 4rem;
        }
      }

      .about-image {
        display: none;
      }
    }
  }

  .data-services {
    padding: 0;

    div {
      width: 20rem;

      .text {
        text-align: center;
      }
    }
  }

  .contact {
    padding: 2rem 5%;
    justify-content: center;
    flex-direction: column;
    // align-items: center;

    .title {
      .location {
        width: 100%;
        height: 30rem;
      }

      h3 {
        font-size: 3rem;
      }
    }

    form {
      width: 100%;
    }
  }

  footer {
    height: 50vh;
    padding: 2rem 5%;
    flex-direction: column;
    align-items: flex-start;

    .container {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
    }

    .footer-contact {
      width: 20rem;
    }

    p.copy {
      width: 100%;
      text-align: center;
      font-size: 1.4rem;
      bottom: 2rem;
    }
  }
}

@media (min-width: 480px) {
  .services-container h2 {
    margin: 1rem 5%;
  }
}

@media (min-width: 600px) {
  .services {
    .cards-wraper .card {
      width: 50rem;
    }
  }
}

@media (max-width: 768px) {
  header #menu-btn {
    font-size: 3rem;
    color: var(--primary-color);
    cursor: pointer;
    display: inline-block;
    visibility: visible;
  }

  .navigation-bar {
    display: none;
  }

  .navigation-bar.active {
    display: inline-block;

    .navigation-list {
      position: absolute;
      height: auto;
      padding-bottom: 5rem;
      top: 99%;
      left: 0;
      right: 0;
      flex-direction: column;

      background: var(--light-color);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      border-bottom: 2px solid var(--primary-color);

      li {
        margin-top: 4rem;
        margin-left: 4rem;
        display: block;
        position: relative;

        a {
          font-weight: 600;
          color: var(--dark-color);
        }

        &::before {
          content: "";
          width: 100%;
          height: 1px;
          background: var(--primary-color);
          position: absolute;
          bottom: -1rem;
        }
      }
    }
  }
}

@media (min-width: 801px) {
  header {
    padding: 2rem 10%;
  }

  .home {
    align-items: flex-start;

    .home-text {
      text-align: left;

      .home-title {
        font-size: 5rem;
        line-height: 5rem;
      }
    }

    .budget-fast {
      width: 50rem;
    }
  }

  .about .busines-about {
    align-items: center;
    flex-direction: row;

    .about-image {
      display: block;
    }
  }

  .data-services {
    justify-content: space-around;
  }

  .contact {
    form {
      width: 60rem;
    }

    .title .location {
      width: 60rem;
      height: 45rem;
    }
  }
}

@media (min-width: 1025px) {
  .home {
    flex-direction: row;
    align-items: center;

    .home-text {
      width: 60%;
      padding-right: 2rem;

      .home-title {
        font-size: 7rem;
        line-height: 7rem;
      }
    }
  }

  .contact {
    padding: 2rem 5%;
    flex-direction: row;

    .title {
      width: 50%;

      .location {
        width: 45rem;
        height: 45rem;
      }
    }

    form {
      width: 45rem;
    }
  }

  .about .busines-about .text {
    width: 70%;
  }

  footer {
    height: auto;
    justify-content: flex-start;

    .footer-contact {
      width: 100%;
    }

    .container {
      flex-direction: row;
    }
  }
}

@media (min-width: 1281px) and (max-width: 1399px) {
  .about {
    padding: 2rem 5%;

    .busines-about .text {
      padding-right: 3rem;
    }
  }

  .data-services {
    margin: 0 auto;
    width: 100%;
    padding: 2rem 5%;

    height: 20rem;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    div {
      width: 40rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      svg {
        width: 5rem;
        fill: var(--primary-color);
      }

      p {
        font-size: 3rem;
        font-weight: 800;
      }

      div {
        p {
          font-size: 2rem;
          font-weight: 700;
          color: var(--primary-color);
        }
      }
    }
  }

  .contact {
    justify-content: flex-start;

    .title h3 {
      font-size: 4rem;
    }
  }
}

.services {
  width: 100%;
  height: auto;
  background: var(--light-color);

  .services-container {
    width: 100%;
    height: 100%;
    text-align: center;

    p {
      margin-top: 2rem;
      font-size: 2.5rem;
      font-weight: 700;
      color: var(--primary-color);
      text-shadow: var(--text-shadow);
    }

    h2 {
      font-size: 4.8rem;
      letter-spacing: -1px;
      font-weight: 800;
      margin-top: 1rem;
      color: var(--dark-text-color);
      text-transform: uppercase;
      text-shadow: var(--text-shadow);
    }
  }

  .cards-wraper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;

    .card {
      width: 40rem;
      height: auto;
      border-radius: 5px;
      position: relative;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
      transition: all 0.3s ease;

      img {
        width: 100%;
        height: 75%;
        object-fit: cover;
        border-radius: 5px 5px 0 0;
      }

      div {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        bottom: 0;
        width: 100%;
        height: auto;
        border: inherit;
        background: var(--dark-color-500);

        h3 {
          font-size: 2rem;
          font-weight: 700;
          color: var(--dark-color);
          text-align: center;
          margin: 1rem 1rem 0;
          text-shadow: var(--text-shadow);
        }

        p {
          color: var(--dark-color);
          text-shadow: var(--text-shadow);
          font-size: 1.4rem;
          margin: 1rem 2rem;
          text-align: center;
          font-weight: 400;
        }
      }
    }
  }
}
