@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 6px;
  scrollbar-width: thin;
}

body::-webkit-scrollbar-track {
  background: var(--secondary-color);
  scrollbar-color: var(--secondary-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  scrollbar-color: var(--primary-color);
  border-radius: 3px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --primary-color: #ce5214;
  --secondary-color: #012841;
  --ligth-text-color: #f5edeb;
  --dark-text-color: #110b11;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

header {
  width: 100%;
  padding: 2rem 10%;
  position: fixed;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  background: white;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

header .progress-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--ligth-text-color);
}

header .progress-container .progress-bar {
  height: 4px;
  background: var(--primary-color);
  width: 0%;
}

header #menu-btn {
  font-size: 3rem;
  color: var(--primary-color);
  cursor: pointer;
  display: none;
  visibility: hidden;
}

header .logo {
  text-align: center;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--primary-color);
  font-size: 1.8rem;
  text-shadow: 0px 1px 5px rgba(3, 1, 1, 0.2);
}

header .logo span {
  font-weight: 800;
  font-size: 2.5rem;
  letter-spacing: -2px;
  color: var(--secondary-color);
}

header .navigation-bar .navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navigation-bar .navigation-list li {
  margin-right: 2rem;
}

header .navigation-bar .navigation-list li a {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--secondary-color);
  text-shadow: 0px 1px 5px rgba(3, 1, 1, 0.2);
}

header .navigation-bar .navigation-list li a:hover {
  color: var(--primary-color);
}

header .navigation-bar .navigation-list li a:active {
  color: var(--primary-color);
}

header .navigation-bar .navigation-list li .button {
  padding: 1.2rem 1.6rem;
  background: var(--primary-color);
  border-radius: 30px;
  border: 2px solid var(--primary-color);
}

header .navigation-bar .navigation-list li .button:hover {
  background: transparent;
  color: var(--ligth-text-color);
}

.home {
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 10%;
  position: relative;
}

.home img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -22;
}

.home .home-text {
  width: 60.5rem;
  height: auto;
}

.home .home-text span {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  text-shadow: 0px 1px 5px rgba(3, 1, 1, 0.2);
  text-transform: uppercase;
  color: var(--primary-color);
}

.home .home-text .home-title {
  font-size: 7rem;
  font-weight: 700;
  line-height: 7rem;
  color: var(--ligth-text-color);
  margin-top: 1.5rem;
  text-shadow: 0px 1px 5px rgba(3, 1, 1, 0.2);
  visibility: hidden;
  opacity: 1;
}

.home .home-text p {
  font-family: "Roboto", sans-serif;
  margin-top: 3rem;
  font-size: 1.8rem;
  color: var(--primary-color);
  font-weight: 400;
  text-shadow: 0px 1px 5px rgba(3, 1, 1, 0.2);
}

.home .home-text .home-button {
  padding: 2rem 4.5rem;
  border-radius: 5px;
  border: 0;
  background: var(--primary-color);
  color: var(--ligth-text-color);
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 3rem;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  visibility: hidden;
}

.home .home-text .home-button:hover {
  -webkit-filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.3)) contrast(130%);
          filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.3)) contrast(130%);
}

.home .budget-fast {
  width: 50rem;
  height: auto;
  color: #eadeda;
  border-radius: 5px;
  padding: 2rem 2rem;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  border: 1px solid #ce5214;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  visibility: hidden;
}

.home .budget-fast form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .budget-fast p {
  font-size: 2.1rem;
  font-weight: 500;
}

.home .budget-fast label {
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 1rem;
}

.home .budget-fast select {
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 1rem;
  padding: 1rem;
  color: var(--ligth-text-color);
  background: #313131;
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid #cdcdcd;
  outline: none;
}

.home .budget-fast select option {
  color: var(--ligth-text-color);
  font-weight: 500;
  font-size: 1.4rem;
  background: #313131;
}

input {
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 1rem;
  padding: 1rem;
  color: var(--ligth-text-color);
  background: #313131;
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid #cdcdcd;
  outline: none;
}

.button {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 2rem;
  padding: 1rem 3rem;
  color: var(--ligth-text-color);
  text-align: center;
  background: var(--primary-color);
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.data-services {
  margin: 0 auto;
  width: 100%;
  padding: 2rem 10%;
  height: 20rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.data-services div {
  width: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.data-services div svg {
  width: 5rem;
  fill: var(--primary-color);
}

.data-services div p {
  font-size: 3rem;
  font-weight: 800;
}

.data-services div div p {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-color);
}

.contact {
  width: 100%;
  height: auto;
  padding: 2rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: url("../assets/black-concrete-texture.jpg");
  background-size: cover;
}

.contact .title h3 {
  font-size: 4.8rem;
  font-weight: 700;
  color: var(--ligth-text-color);
  text-shadow: 0px 1px 5px rgba(3, 1, 1, 0.3);
}

.contact .title p {
  font-size: 1.6rem;
  color: var(--ligth-text-color);
  font-weight: 300;
}

.contact .title p span {
  font-size: 1.6rem;
  color: var(--primary-color);
  font-weight: 400;
}

.contact .title a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  gap: 5px;
  color: var(--ligth-text-color);
}

.contact .title a:hover {
  color: var(--ligth-text-color);
}

.contact .title a span {
  font-size: 1.6rem;
  color: var(--primary-color);
  font-weight: 400;
}

.contact .title .location {
  width: 60rem;
  height: 45rem;
  margin-top: 2rem;
  overflow: hidden;
}

.contact .title .location iframe {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.contact form {
  margin-top: 2rem;
  color: #eadeda;
  border-radius: 5px;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  border: 1px solid #ce5214;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  width: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.contact form label {
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 1rem;
}

.contact form input {
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 1rem;
  padding: 1rem;
  color: var(--ligth-text-color);
  background: #313131;
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid #cdcdcd;
  outline: none;
}

.contact form textarea {
  resize: none;
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 1rem;
  padding: 1rem;
  color: var(--ligth-text-color);
  background: #313131;
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid #cdcdcd;
  outline: none;
}

.contact form button {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 2rem;
  padding: 1rem 3rem;
  color: var(--ligth-text-color);
  text-align: center;
  background: var(--primary-color);
  border-radius: 2px;
  border: 0;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

footer {
  width: 100%;
  height: 30vh;
  padding: 2rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--dark-text-color);
  color: var(--ligth-text-color);
  position: relative;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container .company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

footer .container .company p {
  font-size: 2rem;
  font-weight: 500;
  color: var(--primary-color);
}

footer .container .company a {
  color: var(--ligth-text-color);
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: 300;
}

footer .container .company a:hover {
  color: var(--primary-color);
}

footer .footer-contact {
  text-align: center;
}

footer .footer-contact p {
  font-size: 1.6rem;
  color: var(--primary-color);
  font-weight: 300;
  margin-bottom: 0rem;
}

footer .footer-contact a {
  color: var(--ligth-text-color);
  font-size: 1.6rem;
  font-weight: 300;
}

footer .footer-contact a span {
  font-size: inherit;
}

footer .address p.address-title {
  font-size: 2rem;
  font-weight: 500;
  color: var(--primary-color);
}

footer .address p {
  font-size: 1.6rem;
}

footer p.copy {
  font-size: 1.4rem;
  text-transform: capitalize;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about {
  width: 100vw;
  height: 60vh;
  padding: 2rem 10%;
  background: url("../assets/black-concrete-texture.jpg");
  background-size: cover;
}

.about .busines-about {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .busines-about .text {
  width: 60%;
  height: auto;
  margin-right: 10rem;
}

.about .busines-about .text h2 {
  font-size: 4.8rem;
  font-weight: 700;
  color: var(--ligth-text-color);
  text-shadow: 0px 1px 5px rgba(3, 1, 1, 0.5);
}

.about .busines-about .text p {
  font-size: 1.6rem;
  color: var(--ligth-text-color);
  font-weight: 400;
}

.about .busines-about .text p span {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--primary-color);
}

.about .busines-about .about-image {
  width: 55rem;
  border-radius: 50%;
}

.about .busines-about .about-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: circle();
          clip-path: circle();
}

@media (min-width: 320px) {
  header {
    padding: 1rem 5%;
  }
  header .logo {
    font-size: 1.6rem;
  }
  header .logo span {
    font-size: 2rem;
  }
  header .navigation-list li {
    margin-left: 5%;
  }
  .home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding: 9rem 5% 2rem;
  }
  .home .home-text {
    width: 100%;
  }
  .home .home-text span {
    font-size: 2rem;
  }
  .home .home-text .home-title {
    font-size: 4.5rem;
    line-height: 4.5rem;
    margin-top: 1rem;
  }
  .home .home-text p {
    font-size: 1.6rem;
    margin-top: 2rem;
    font-weight: 400;
  }
  .home .home-text .home-button {
    padding: 1.5rem;
  }
  .home .budget-fast {
    width: 100%;
    margin-top: 3rem;
  }
  .services {
    height: 240vh;
  }
  .services .services-container p {
    font-size: 2rem;
  }
  .services .services-container h2 {
    font-size: 3rem;
    margin-top: 1rem;
  }
  .services .cards-wraper {
    height: auto;
    padding: 2rem 5%;
    margin: 0;
  }
  .services .cards-wraper .card {
    width: 100%;
    min-height: 60rem;
    height: auto;
  }
  .about {
    height: auto;
    padding: 2rem 5%;
  }
  .about .busines-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .about .busines-about .text {
    width: 100%;
    margin-right: 0;
  }
  .about .busines-about .text h2 {
    font-size: 4rem;
  }
  .about .busines-about .about-image {
    display: none;
  }
  .data-services {
    padding: 0;
  }
  .data-services div {
    width: 20rem;
  }
  .data-services div .text {
    text-align: center;
  }
  .contact {
    padding: 2rem 5%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .title .location {
    width: 100%;
    height: 30rem;
  }
  .contact .title h3 {
    font-size: 3rem;
  }
  .contact form {
    width: 100%;
  }
  footer {
    height: 50vh;
    padding: 2rem 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .container {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .footer-contact {
    width: 20rem;
  }
  footer p.copy {
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    bottom: 2rem;
  }
}

@media (min-width: 480px) {
  .services-container h2 {
    margin: 1rem 5%;
  }
}

@media (min-width: 600px) {
  .services {
    height: 255vh;
  }
  .services .cards-wraper .card {
    width: 50rem;
  }
}

@media (max-width: 768px) {
  header #menu-btn {
    font-size: 3rem;
    color: var(--primary-color);
    cursor: pointer;
    display: inline-block;
    visibility: visible;
  }
  .navigation-bar {
    display: none;
  }
  .navigation-bar.active {
    display: inline-block;
  }
  .navigation-bar.active .navigation-list {
    position: absolute;
    height: 43rem;
    top: 99%;
    left: 0;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom: 3px solid var(--dark-text-color);
    background: white;
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid var(--secondary-color);
  }
  .navigation-bar.active .navigation-list li {
    margin-top: 4rem;
    margin-left: 4rem;
    display: block;
    position: relative;
  }
  .navigation-bar.active .navigation-list li a {
    font-weight: 600;
    color: var(--secondary-color);
  }
  .navigation-bar.active .navigation-list li::before {
    content: "";
    width: 100%;
    height: 1px;
    background: var(--primary-color);
    position: absolute;
    bottom: -1rem;
  }
  .navigation-bar.active .navigation-list li .button {
    padding: 0;
    background: transparent;
    font-size: 2rem;
    font-weight: 700;
    border: none;
  }
  .navigation-bar.active .navigation-list li .button:hover {
    color: var(--primary-color);
  }
}

@media (min-width: 801px) {
  header {
    padding: 2rem 10%;
  }
  .home {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .home .home-text .home-title {
    font-size: 5rem;
    line-height: 5rem;
  }
  .home .budget-fast {
    width: 50rem;
  }
  .about .busines-about {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about .busines-about .about-image {
    display: block;
  }
  .data-services {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contact form {
    width: 60rem;
  }
  .contact .title .location {
    width: 60rem;
    height: 45rem;
  }
}

@media (min-width: 1025px) {
  .home {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home .home-text {
    width: 50%;
  }
  .home .home-text h1 {
    font-size: 6rem;
    line-height: 6rem;
  }
  .contact {
    padding: 2rem 5%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact .title {
    width: 50%;
  }
  .contact .title .location {
    width: 45rem;
    height: 45rem;
  }
  .contact form {
    width: 45rem;
  }
  .about .busines-about .text {
    width: 70%;
  }
  footer {
    height: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  footer .footer-contact {
    width: 100%;
  }
  footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1281px) and (max-width: 1399px) {
  .services {
    min-height: 160rem;
    height: auto;
  }
  .about {
    padding: 2rem 5%;
  }
  .about .busines-about .text {
    padding-right: 3rem;
  }
  .data-services {
    margin: 0 auto;
    width: 100%;
    padding: 2rem 5%;
    height: 20rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .data-services div {
    width: 40rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .data-services div svg {
    width: 5rem;
    fill: var(--primary-color);
  }
  .data-services div p {
    font-size: 3rem;
    font-weight: 800;
  }
  .data-services div div p {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color);
  }
  .contact {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .contact .title h3 {
    font-size: 4rem;
  }
}

.services {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  position: relative;
}

.services::-webkit-scrollbar {
  display: none;
}

.services .waves {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.services .services-container {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 2rem;
}

.services .services-container p {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--dark-text-color);
  text-shadow: 0px 1px 5px rgba(3, 1, 1, 0.3);
}

.services .services-container h2 {
  font-size: 4.8rem;
  letter-spacing: -1px;
  font-weight: 800;
  margin-top: 3rem;
  color: var(--secondary-color);
  text-transform: uppercase;
  text-shadow: 0px 1px 5px rgba(3, 1, 1, 0.3);
}

.services .cards-wraper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
  margin-top: 6rem;
}

.services .cards-wraper .card {
  width: 40rem;
  height: 60rem;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services .cards-wraper .card:hover.card {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.services .cards-wraper .card img {
  width: 100%;
  height: 75%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.services .cards-wraper .card div {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
  border: inherit;
  background: #fff;
}

.services .cards-wraper .card div h3 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--dark-text-color);
  text-align: center;
  margin: 1rem 1rem 0;
  text-shadow: 0px 1px 5px rgba(3, 1, 1, 0.3);
}

.services .cards-wraper .card div p {
  color: var(--dark-text-color);
  text-shadow: 0px 1px 5px rgba(3, 1, 1, 0.3);
  font-size: 1.4rem;
  margin: 1rem 2rem;
  text-align: left;
  font-weight: 400;
}
/*# sourceMappingURL=style.css.map */