@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --primary-color: #ce5214;
  --secondary-color: #012841;
  --ligth-text-color: #eadeda;
  --dark-text-color: #110b11;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

header {
  width: 100%;
  padding: 2rem 10%;
  position: fixed;
  top: 0;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  background: white;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid var(--secondary-color);
  -webkit-animation: header 1s ease;
          animation: header 1s ease;
}

@-webkit-keyframes header {
  0% {
    top: -100px;
  }
  100% {
    top: 0;
    opacity: 1;
    border: 0;
  }
}

@keyframes header {
  0% {
    top: -100px;
  }
  100% {
    top: 0;
    opacity: 1;
    border: 0;
  }
}

header #menu-btn {
  font-size: 3rem;
  color: var(--primary-color);
  cursor: pointer;
  display: none;
  visibility: hidden;
}

header .logo {
  text-align: center;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  color: var(--primary-color);
  font-size: 2rem;
}

header .logo span {
  font-weight: 800;
  font-size: 4rem;
  letter-spacing: -2px;
  color: var(--secondary-color);
}

header .navigation-bar .navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navigation-bar .navigation-list li {
  margin-right: 2rem;
}

header .navigation-bar .navigation-list li a {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--secondary-color);
}

header .navigation-bar .navigation-list li a:hover {
  color: var(--primary-color);
}

header .navigation-bar .navigation-list li a:active {
  color: var(--primary-color);
}

header .navigation-bar .navigation-list li .button {
  padding: 1.2rem 1.6rem;
  background: var(--primary-color);
  border-radius: 30px;
  border: 2px solid var(--primary-color);
}

header .navigation-bar .navigation-list li .button:hover {
  background: transparent;
  color: var(--ligth-text-color);
}

.home {
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
}

.home .swiper {
  width: 100%;
  height: 100%;
}

.home .swiper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home .swiper .home-text {
  width: 60.5rem;
  height: auto;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 10%;
  -webkit-animation: homeText 1s ease;
          animation: homeText 1s ease;
}

.home .swiper .home-text span {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--primary-color);
}

.home .swiper .home-text h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 6rem;
  color: var(--ligth-text-color);
  margin-top: 1.5rem;
}

.home .swiper .home-text p {
  font-family: "Roboto", sans-serif;
  margin-top: 3rem;
  font-size: 1.8rem;
  color: var(--ligth-text-color);
  font-weight: 500;
}

.home .swiper .home-text .button {
  padding: 2rem 4.5rem;
  border-radius: 5px;
  border: 0;
  background: var(--primary-color);
  color: var(--ligth-text-color);
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 3rem;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.home .swiper .home-text .button:hover {
  -webkit-filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.3)) contrast(130%);
          filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.3)) contrast(130%);
}

@-webkit-keyframes homeText {
  0% {
    margin-left: 0;
    opacity: 0;
  }
  100% {
    margin-left: 10%;
    opacity: 1;
  }
}

@keyframes homeText {
  0% {
    margin-left: 0;
    opacity: 0;
  }
  100% {
    margin-left: 10%;
    opacity: 1;
  }
}

.home .swiper .swiper-pagination-bullet {
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--primary-color);
}

.home .budget-fast {
  width: 50rem;
  height: auto;
  position: absolute;
  top: 50%;
  right: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  color: #eadeda;
  border-radius: 5px;
  padding: 2rem 2rem;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  border: 0;
  -webkit-animation: budget-fast 1s ease;
          animation: budget-fast 1s ease;
}

@-webkit-keyframes budget-fast {
  0% {
    right: 0;
    opacity: 0;
  }
  100% {
    right: 10%;
    opacity: 1;
  }
}

@keyframes budget-fast {
  0% {
    right: 0;
    opacity: 0;
  }
  100% {
    right: 10%;
    opacity: 1;
  }
}

.home .budget-fast form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .budget-fast p {
  font-size: 2.1rem;
  font-weight: 500;
}

.home .budget-fast label {
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 1rem;
}

.home .budget-fast select {
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 1rem;
  padding: 1rem 3rem;
  color: var(--ligth-text-color);
  background: rgba(205, 205, 205, 0.4);
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid #cdcdcd;
  outline: none;
}

.home .budget-fast select option {
  color: var(--dark-text-color);
  font-weight: 500;
  font-size: 1.4rem;
  background: var(--ligth-text-color);
}

.home input {
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 1rem;
  padding: 1rem 3rem;
  color: var(--ligth-text-color);
  background: rgba(205, 205, 205, 0.4);
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid #cdcdcd;
  outline: none;
}

.home .button {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 2rem;
  padding: 1rem 3rem;
  color: var(--ligth-text-color);
  text-align: center;
  background: var(--primary-color);
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.services {
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  position: relative;
}

.services .waves {
  width: 100%;
  z-index: -1;
}

.services .services-container {
  position: absolute;
  z-index: 1;
  top: 9rem;
  text-align: center;
  right: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.services .services-container p {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--ligth-text-color);
}

.services .services-container h2 {
  font-size: 4.8rem;
  letter-spacing: -1px;
  margin-top: 3rem;
  color: var(--secondary-color);
}

.services .cards-wraper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
  margin-top: 4rem;
}

.services .cards-wraper .card {
  width: 40rem;
  height: 60rem;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services .cards-wraper .card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.services .cards-wraper .card img {
  width: 100%;
  height: 75%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services .cards-wraper .card div {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  border: inherit;
  background: var(--secondary-color);
}

.services .cards-wraper .card div h3 {
  font-size: 2rem;
  margin-top: 1.7rem;
  font-weight: 700;
  color: var(--ligth-text-color);
  text-align: center;
  margin: 0 2rem;
}

.services .cards-wraper .card div p {
  color: var(--ligth-text-color);
  font-size: 1.4rem;
  margin: 1rem 2rem;
  text-align: left;
  font-weight: 300;
}

.about {
  width: 100vw;
  height: 60vh;
  padding: 2rem 10%;
  background: #ce5214;
  overflow: hidden;
}

.about .busines-about {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .busines-about .text {
  width: 50rem;
  height: auto;
  margin-right: 30rem;
}

.about .busines-about .text h2 {
  font-size: 4.8rem;
  font-weight: 600;
  color: var(--ligth-text-color);
}

.about .busines-about .text p {
  font-size: 1.6rem;
  color: var(--ligth-text-color);
}

.about .busines-about .text p span {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
}

.about .busines-about .about-image {
  width: 60rem;
  height: 60rem;
  border: 5px solid var(--secondary-color);
  border-radius: 50%;
}

.about .busines-about .about-image img {
  width: 100%;
  height: 100%;
}

.data-services {
  margin: 0 auto;
  width: 100%;
  padding: 2rem 10%;
  height: 20rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.data-services div {
  width: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.data-services div svg {
  width: 5rem;
  fill: var(--secondary-color);
}

.data-services div p {
  font-size: 3rem;
  font-weight: 800;
}

.data-services div div p {
  font-size: 2rem;
  font-weight: 700;
  color: var(--secondary-color);
}

.contact {
  width: 100%;
  height: 100vh;
  background: var(--primary-color);
}

@media (max-width: 768px) {
  header #menu-btn {
    font-size: 3rem;
    color: var(--primary-color);
    cursor: pointer;
    display: inline-block;
    visibility: visible;
  }
  .navigation-bar {
    display: none;
  }
  .navigation-bar.active {
    display: inline-block;
  }
  .navigation-bar.active .navigation-list {
    position: absolute;
    height: 43rem;
    top: 99%;
    left: 0;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom: 3px solid var(--dark-text-color);
    background: white;
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid var(--secondary-color);
  }
  .navigation-bar.active .navigation-list li {
    margin-top: 4rem;
    margin-left: 4rem;
    display: block;
    position: relative;
  }
  .navigation-bar.active .navigation-list li a {
    font-weight: 600;
    color: var(--secondary-color);
  }
  .navigation-bar.active .navigation-list li::before {
    content: "";
    width: 100%;
    height: 1px;
    background: var(--primary-color);
    position: absolute;
    bottom: -1rem;
  }
  .navigation-bar.active .navigation-list li .button {
    padding: 0;
    background: transparent;
    font-size: 2rem;
    font-weight: 700;
    border: none;
  }
  .navigation-bar.active .navigation-list li .button:hover {
    color: var(--primary-color);
  }
}
/*# sourceMappingURL=style.css.map */